[Unit]
Description=My Flask Application

[Service]
User=ec2-user     
WorkingDirectory=/home/ec2-user/ec2-rds-ssm-python
ExecStart=/usr/bin/python3 /home/ec2-user/ec2-rds-ssm-python/app.py
Restart=always

[Install]
WantedBy=multi-user.target